.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.botonesContainer {
  display: flex;
  align-items: center;
}

.botonesBusqueda {
  display: flex;
  gap: 10px;
}

.botonCiudad,
.botonGuests,
.searchButton {
  padding: 10px 20px;
  font-size: 16px;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .botonesContainer {
    margin-top: 20px;
  }

  .botonesBusqueda {
    flex-direction: column;
    gap: 10px;
  }

  .botonCiudad,
  .botonGuests,
  .searchButton {
    width: 100%;
  }
}